server:
  port: 8830

logging:
  level:
    org:
      springframework:
        web:
          servlet:
            DispatcherServlet: debug
    com:
      ovft:
        access:
          sys:
            dao: debug

spring:
  application:
    name: game
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/game?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
    username: root
    password: toor