<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.AdminMapper" >

    <sql id="Base_Column_List">
        admin_id, name, password, phone, image, role, school_id, post
    </sql>
    <resultMap id="BaseResultMap" type="com.ovft.configure.sys.bean.Admin">
        <id column="admin_id" jdbcType="INTEGER" property="adminId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="post" jdbcType="VARCHAR" property="post"/>
        <result column="role" jdbcType="INTEGER" property="role"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
    </resultMap>

    <select id="selectByPhone"  resultType="com.ovft.configure.sys.bean.Admin">
         select admin_id as adminId, name, password, phone, image, role, school_id as schoolId, post from edu_admin where phone = #{phone}
    </select>

    <insert id="creatAdmin" parameterType="com.ovft.configure.sys.bean.Admin" useGeneratedKeys="true" keyProperty="adminId">
         insert into edu_admin(name, password, phone, image, role, school_id, post)
         values (#{name}, #{password}, #{phone}, #{image}, #{role}, #{schoolId}, #{post})
    </insert>
    
    <update id="updateByPassword">
          update edu_admin e
          set password = #{password}
          where admin_id = #{adminId}
    </update>

    <update id="updateByPrimary" parameterType="com.ovft.configure.sys.bean.Admin">
        update edu_admin
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId},
            </if>
            <if test="post != null">
                post = #{post},
            </if>
        </set>
        where admin_id = #{adminId,jdbcType=INTEGER}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from edu_admin
        where admin_id = #{adminId}
  </delete>

    <select id="selectByAdminAndSchool"  resultType="com.ovft.configure.sys.vo.AdminVo">
        select
        a.admin_id adminId, a.name, a.phone, a.image, t.role, t.school_id schoolId, s.school_name as schoolName
        from edu_admin a
        LEFT JOIN edu_admin_school t on a.admin_id = t.admin_id
        LEFT JOIN edu_school s on t.school_id = s.school_id
        where 1=1
        <if test="adminId != null">
            and a.admin_id = #{adminId}
        </if>
        <if test="schoolId != null">
            and t.school_id = #{schoolId}
        </if>
        <if test="role != null">
            and t.role = #{role}
        </if>
    </select>

    <select id="selectByPhoneList"  resultType="com.ovft.configure.sys.bean.School">
        select t.school_id schoolId, s.school_name as schoolName
        from edu_admin a
        LEFT JOIN edu_admin_school t on a.admin_id = t.admin_id
        LEFT JOIN edu_school s on t.school_id = s.school_id
        where a.phone = #{phone}
    </select>

    <insert id="createAdminSchool" parameterType="com.ovft.configure.sys.bean.Admin" useGeneratedKeys="true" keyProperty="id">
         insert into edu_admin_school(school_id, admin_id, role)
         values (#{schoolId}, #{adminId}, #{role})
    </insert>

    <update id="updateAdminSchool" parameterType="com.ovft.configure.sys.bean.Admin">
        update edu_admin_school
        <set>
            <if test="role != null">
                role = #{role},
            </if>
        </set>
        where admin_id = #{adminId} and school_id = #{schoolId}
    </update>

    <delete id="deleteAdminSchool" parameterType="java.lang.Integer">
        delete from edu_admin_school
        where admin_id = #{adminId} and school_id = #{schoolId}
    </delete>

</mapper>