<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.DepartmentMapper" >

    <!--院系列表-->
    <select id="departmentList"  resultType="com.ovft.configure.sys.vo.DepartmentVo">
        select  d.did did,d.d_name departmentName,d.school_id schoolId,s.school_name schoolName
        from edu_department d,
        edu_school s
         where
        d.school_id=s.school_id
        <if test="did != null ">
            AND d.did = #{did}
        </if>
        <if test="departmentName != null and departmentName !=''">
            AND d.d_name = #{departmentName}
        </if>
        <if test="schoolId != null">
            AND d.school_id = #{schoolId}
        </if>

        <if test="search != null and search != ''">
            AND    d.d_name like CONCAT('%',#{search},'%')
        </if>
        ORDER BY d.did asc
    </select>
    <!--删除一条记录-->
    <delete id="deleteDepartment" parameterType="java.lang.Integer">
          delete from edu_department
        where did=#{did}
        </delete>

    <!--批量删除-->
    <delete id="bigDeleteDepartment" parameterType="java.util.List" >
        <foreach collection="dids" item="value" index="index" open="" close="" separator=";">
            delete from edu_department
            where
            <if test="value!=null">
                did= #{value}
            </if>
        </foreach>
    </delete>
    <!--添加-->
     <insert id="createDepartment" parameterType="com.ovft.configure.sys.vo.DepartmentVo">
          insert into edu_department values (default,#{departmentName},#{schoolId})
     </insert>
    <!--修改-->
     <update id="updateDepartment" parameterType="com.ovft.configure.sys.vo.DepartmentVo">
         update edu_department set d_name=#{departmentName},school_id=#{schoolId} where did=#{did}
     </update>
    <!--进入某院系详情列表-->
    <select id="findCourseBydid" parameterType="com.ovft.configure.sys.vo.PageVo" resultType="com.ovft.configure.sys.vo.EduCourseVo">
        select did,course_id as courseId, course_name as courseName, course_price as coursePrice, course_teacher as courseTeacher,
        place_class as placeClass, start_date as startDate, end_date as endDate,
        people_number as peopleNumber, school_id as schoolId, isenable,isAddQuestion,
        (SELECT name FROM edu_admin where admin_id = edu_course.course_teacher) as teacherName,
        (SELECT school_name FROM edu_school where school_id = edu_course.school_id) as schoolName,
        (SELECT d_name FROM edu_department where did = edu_course.did) as departmentName
        from edu_course
        where 1=1
        <if test="schoolId != null">
            AND school_id = #{schoolId}
        </if>
        <if test="isAddQuestion != null ">
            AND isAddQuestion = #{isAddQuestion}
        </if>
        <if test="isenable != null">
            AND isenable = #{isenable}
        </if>
        <if test="startDate != null">
            <![CDATA[ and  start_date >= #{startDate}]]>
        </if>
        <if test="endDate != null">
            <![CDATA[ and  start_date <= #{endDate}]]>
        </if>
        <if test="search != null and search != ''">
            AND course_name like CONCAT('%',#{search},'%')
        </if>
        order by isenable desc, start_date desc
    </select>



</mapper>