<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.EduNewstypeMapper">
    <resultMap id="BaseResultMap" type="com.ovft.configure.sys.bean.EduNewstype">
        <id column="typeId" jdbcType="INTEGER" property="typeid"/>
        <result column="typeName" jdbcType="VARCHAR" property="typename"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    typeId, typeName, createTime, updateTime
  </sql>
    <select id="selectByExample" parameterType="com.ovft.configure.sys.bean.EduNewstypeExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from edu_newstype
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edu_newstype
        where typeId = #{typeid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_newstype
    where typeId = #{typeid,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.ovft.configure.sys.bean.EduNewstypeExample">
        delete from edu_newstype
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ovft.configure.sys.bean.EduNewstype">
    insert into edu_newstype (typeId, typeName, createTime, 
      updateTime)
    values (#{typeid,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.ovft.configure.sys.bean.EduNewstype">
        insert into edu_newstype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeid != null">
                typeId,
            </if>
            <if test="typename != null">
                typeName,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeid != null">
                #{typeid,jdbcType=INTEGER},
            </if>
            <if test="typename != null">
                #{typename,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ovft.configure.sys.bean.EduNewstypeExample"
            resultType="java.lang.Long">
        select count(*) from edu_newstype
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update edu_newstype
        <set>
            <if test="record.typeid != null">
                typeId = #{record.typeid,jdbcType=INTEGER},
            </if>
            <if test="record.typename != null">
                typeName = #{record.typename,jdbcType=VARCHAR},
            </if>
            <if test="record.createtime != null">
                createTime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updatetime != null">
                updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update edu_newstype
        set typeId = #{record.typeid,jdbcType=INTEGER},
        typeName = #{record.typename,jdbcType=VARCHAR},
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ovft.configure.sys.bean.EduNewstype">
        update edu_newstype
        <set>
            <if test="typename != null">
                typeName = #{typename,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where typeId = #{typeid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ovft.configure.sys.bean.EduNewstype">
    update edu_newstype
    set typeName = #{typename,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where typeId = #{typeid,jdbcType=INTEGER}
  </update>
      <select id="queryNewsTypeAll" resultType="com.ovft.configure.sys.bean.EduNewstype">
         SELECT * FROM  edu_newstype
         WHERE 1=1
          <if test="search != null and search != ''">
              AND user_name like CONCAT('%',#{search},'%')
          </if>
      </select>

</mapper>