<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.EduRegistMapper">
    <resultMap id="BaseResultMap" type="com.ovft.configure.sys.bean.EduRegist">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="registstart_time" jdbcType="TIMESTAMP" property="registstartTime"/>
        <result column="registend_time" jdbcType="TIMESTAMP" property="registendTime"/>
        <result column="start_age" jdbcType="INTEGER" property="startAge"/>
        <result column="end_age" jdbcType="INTEGER" property="endAge"/>
        <result column="regist_category_one" jdbcType="VARCHAR" property="registCategoryOne"/>
        <result column="regist_category_two" jdbcType="VARCHAR" property="registCategoryTwo"/>
        <result column="regist_category_three" jdbcType="VARCHAR" property="registCategoryThree"/>
        <result column="regist_category_four" jdbcType="VARCHAR" property="registCategoryFour"/>
        <result column="regist_category_five" jdbcType="VARCHAR" property="registCategoryFive"/>
        <result column="regist_category_six" jdbcType="VARCHAR" property="registCategorySix"/>
        <result column="upate_time" jdbcType="TIMESTAMP" property="upateTime"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="regist_priority" jdbcType="VARCHAR" property="registPriority"/>
        <result column="offline_regist" jdbcType="VARCHAR" property="offlineRegist"/>
        <result column="course_num" jdbcType="INTEGER" property="courseNum"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, registstart_time, registend_time, start_age, end_age, regist_category_one, regist_category_two, 
    regist_category_three, regist_category_four, regist_category_five, regist_category_six, 
    upate_time, school_id, course_id, school_name, course_name, regist_priority, offline_regist, 
    course_num
  </sql>
    <select id="selectByExample" parameterType="com.ovft.configure.sys.bean.EduRegistExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from edu_regist
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edu_regist
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_regist
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.ovft.configure.sys.bean.EduRegistExample">
        delete from edu_regist
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ovft.configure.sys.bean.EduRegist">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into edu_regist (registstart_time, registend_time,
        start_age, end_age, regist_category_one,
        regist_category_two, regist_category_three,
        regist_category_four, regist_category_five,
        regist_category_six, upate_time, school_id,
        course_id, school_name, course_name,
        regist_priority, offline_regist, course_num
        )
        values (#{registstartTime,jdbcType=TIMESTAMP}, #{registendTime,jdbcType=TIMESTAMP},
        #{startAge,jdbcType=INTEGER}, #{endAge,jdbcType=INTEGER}, #{registCategoryOne,jdbcType=VARCHAR},
        #{registCategoryTwo,jdbcType=VARCHAR}, #{registCategoryThree,jdbcType=VARCHAR},
        #{registCategoryFour,jdbcType=VARCHAR}, #{registCategoryFive,jdbcType=VARCHAR},
        #{registCategorySix,jdbcType=VARCHAR}, #{upateTime,jdbcType=TIMESTAMP}, #{schoolId,jdbcType=INTEGER},
        #{courseId,jdbcType=INTEGER}, #{schoolName,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR},
        #{registPriority,jdbcType=VARCHAR}, #{offlineRegist,jdbcType=VARCHAR}, #{courseNum,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ovft.configure.sys.bean.EduRegist">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into edu_regist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="registstartTime != null">
                registstart_time,
            </if>
            <if test="registendTime != null">
                registend_time,
            </if>
            <if test="startAge != null">
                start_age,
            </if>
            <if test="endAge != null">
                end_age,
            </if>
            <if test="registCategoryOne != null">
                regist_category_one,
            </if>
            <if test="registCategoryTwo != null">
                regist_category_two,
            </if>
            <if test="registCategoryThree != null">
                regist_category_three,
            </if>
            <if test="registCategoryFour != null">
                regist_category_four,
            </if>
            <if test="registCategoryFive != null">
                regist_category_five,
            </if>
            <if test="registCategorySix != null">
                regist_category_six,
            </if>
            <if test="upateTime != null">
                upate_time,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="schoolName != null">
                school_name,
            </if>
            <if test="courseName != null">
                course_name,
            </if>
            <if test="registPriority != null">
                regist_priority,
            </if>
            <if test="offlineRegist != null">
                offline_regist,
            </if>
            <if test="courseNum != null">
                course_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="registstartTime != null">
                #{registstartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="registendTime != null">
                #{registendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startAge != null">
                #{startAge,jdbcType=INTEGER},
            </if>
            <if test="endAge != null">
                #{endAge,jdbcType=INTEGER},
            </if>
            <if test="registCategoryOne != null">
                #{registCategoryOne,jdbcType=VARCHAR},
            </if>
            <if test="registCategoryTwo != null">
                #{registCategoryTwo,jdbcType=VARCHAR},
            </if>
            <if test="registCategoryThree != null">
                #{registCategoryThree,jdbcType=VARCHAR},
            </if>
            <if test="registCategoryFour != null">
                #{registCategoryFour,jdbcType=VARCHAR},
            </if>
            <if test="registCategoryFive != null">
                #{registCategoryFive,jdbcType=VARCHAR},
            </if>
            <if test="registCategorySix != null">
                #{registCategorySix,jdbcType=VARCHAR},
            </if>
            <if test="upateTime != null">
                #{upateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="schoolName != null">
                #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="courseName != null">
                #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="registPriority != null">
                #{registPriority,jdbcType=VARCHAR},
            </if>
            <if test="offlineRegist != null">
                #{offlineRegist,jdbcType=VARCHAR},
            </if>
            <if test="courseNum != null">
                #{courseNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ovft.configure.sys.bean.EduRegistExample"
            resultType="java.lang.Long">
        select count(*) from edu_regist
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update edu_regist
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.registstartTime != null">
                registstart_time = #{record.registstartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.registendTime != null">
                registend_time = #{record.registendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.startAge != null">
                start_age = #{record.startAge,jdbcType=INTEGER},
            </if>
            <if test="record.endAge != null">
                end_age = #{record.endAge,jdbcType=INTEGER},
            </if>
            <if test="record.registCategoryOne != null">
                regist_category_one = #{record.registCategoryOne,jdbcType=VARCHAR},
            </if>
            <if test="record.registCategoryTwo != null">
                regist_category_two = #{record.registCategoryTwo,jdbcType=VARCHAR},
            </if>
            <if test="record.registCategoryThree != null">
                regist_category_three = #{record.registCategoryThree,jdbcType=VARCHAR},
            </if>
            <if test="record.registCategoryFour != null">
                regist_category_four = #{record.registCategoryFour,jdbcType=VARCHAR},
            </if>
            <if test="record.registCategoryFive != null">
                regist_category_five = #{record.registCategoryFive,jdbcType=VARCHAR},
            </if>
            <if test="record.registCategorySix != null">
                regist_category_six = #{record.registCategorySix,jdbcType=VARCHAR},
            </if>
            <if test="record.upateTime != null">
                upate_time = #{record.upateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.schoolId != null">
                school_id = #{record.schoolId,jdbcType=INTEGER},
            </if>
            <if test="record.courseId != null">
                course_id = #{record.courseId,jdbcType=INTEGER},
            </if>
            <if test="record.schoolName != null">
                school_name = #{record.schoolName,jdbcType=VARCHAR},
            </if>
            <if test="record.courseName != null">
                course_name = #{record.courseName,jdbcType=VARCHAR},
            </if>
            <if test="record.registPriority != null">
                regist_priority = #{record.registPriority,jdbcType=VARCHAR},
            </if>
            <if test="record.offlineRegist != null">
                offline_regist = #{record.offlineRegist,jdbcType=VARCHAR},
            </if>
            <if test="record.courseNum != null">
                course_num = #{record.courseNum,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update edu_regist
        set id = #{record.id,jdbcType=INTEGER},
        registstart_time = #{record.registstartTime,jdbcType=TIMESTAMP},
        registend_time = #{record.registendTime,jdbcType=TIMESTAMP},
        start_age = #{record.startAge,jdbcType=INTEGER},
        end_age = #{record.endAge,jdbcType=INTEGER},
        regist_category_one = #{record.registCategoryOne,jdbcType=VARCHAR},
        regist_category_two = #{record.registCategoryTwo,jdbcType=VARCHAR},
        regist_category_three = #{record.registCategoryThree,jdbcType=VARCHAR},
        regist_category_four = #{record.registCategoryFour,jdbcType=VARCHAR},
        regist_category_five = #{record.registCategoryFive,jdbcType=VARCHAR},
        regist_category_six = #{record.registCategorySix,jdbcType=VARCHAR},
        upate_time = #{record.upateTime,jdbcType=TIMESTAMP},
        school_id = #{record.schoolId,jdbcType=INTEGER},
        course_id = #{record.courseId,jdbcType=INTEGER},
        school_name = #{record.schoolName,jdbcType=VARCHAR},
        course_name = #{record.courseName,jdbcType=VARCHAR},
        regist_priority = #{record.registPriority,jdbcType=VARCHAR},
        offline_regist = #{record.offlineRegist,jdbcType=VARCHAR},
        course_num = #{record.courseNum,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ovft.configure.sys.bean.EduRegist">
        update edu_regist
        <set>
            <if test="registstartTime != null">
                registstart_time = #{registstartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="registendTime != null">
                registend_time = #{registendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startAge != null">
                start_age = #{startAge,jdbcType=INTEGER},
            </if>
            <if test="endAge != null">
                end_age = #{endAge,jdbcType=INTEGER},
            </if>
            <if test="registCategoryOne != null">
                regist_category_one = #{registCategoryOne,jdbcType=VARCHAR},
            </if>
            <if test="registCategoryTwo != null">
                regist_category_two = #{registCategoryTwo,jdbcType=VARCHAR},
            </if>
            <if test="registCategoryThree != null">
                regist_category_three = #{registCategoryThree,jdbcType=VARCHAR},
            </if>
            <if test="registCategoryFour != null">
                regist_category_four = #{registCategoryFour,jdbcType=VARCHAR},
            </if>
            <if test="registCategoryFive != null">
                regist_category_five = #{registCategoryFive,jdbcType=VARCHAR},
            </if>
            <if test="registCategorySix != null">
                regist_category_six = #{registCategorySix,jdbcType=VARCHAR},
            </if>
            <if test="upateTime != null">
                upate_time = #{upateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=INTEGER},
            </if>
            <if test="schoolName != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="courseName != null">
                course_name = #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="registPriority != null">
                regist_priority = #{registPriority,jdbcType=VARCHAR},
            </if>
            <if test="offlineRegist != null">
                offline_regist = #{offlineRegist,jdbcType=VARCHAR},
            </if>
            <if test="courseNum != null">
                course_num = #{courseNum,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ovft.configure.sys.bean.EduRegist">
    update edu_regist
    set registstart_time = #{registstartTime,jdbcType=TIMESTAMP},
      registend_time = #{registendTime,jdbcType=TIMESTAMP},
      start_age = #{startAge,jdbcType=INTEGER},
      end_age = #{endAge,jdbcType=INTEGER},
      regist_category_one = #{registCategoryOne,jdbcType=VARCHAR},
      regist_category_two = #{registCategoryTwo,jdbcType=VARCHAR},
      regist_category_three = #{registCategoryThree,jdbcType=VARCHAR},
      regist_category_four = #{registCategoryFour,jdbcType=VARCHAR},
      regist_category_five = #{registCategoryFive,jdbcType=VARCHAR},
      regist_category_six = #{registCategorySix,jdbcType=VARCHAR},
      upate_time = #{upateTime,jdbcType=TIMESTAMP},
      school_id = #{schoolId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      school_name = #{schoolName,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      regist_priority = #{registPriority,jdbcType=VARCHAR},
      offline_regist = #{offlineRegist,jdbcType=VARCHAR},
      course_num = #{courseNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--查询每个科目可以报名的人数vvtxw-->
    <select id="selectByCourseId" parameterType="int"
            resultType="com.ovft.configure.sys.bean.EduRegist">
    select
    *
    from edu_regist
    WHERE course_id=#{course_id}
  </select>

    <!--查询每个科目可以报名的人数vvtxw-->
    <select id="selectByOne" parameterType="int"
            resultType="com.ovft.configure.sys.vo.EduRegistVo">
    select
    r.id,
    r.registstart_time,
    r.registend_time,
    r.start_age,
    r.end_age,
    r.regist_category_one,
    r.regist_category_two,
    r.regist_category_three,
    r.regist_category_four,
    r.regist_category_five,
    r.regist_category_six,
    r.upate_time,
    c.course_name courseName,
    e1.school_name schoolName
    from edu_regist r
    LEFT JOIN edu_course c on c.course_id=r.course_id
    left join edu_school e1 on r.school_id=e1.school_id
    WHERE id=#{id}
  </select>

    <!--根据学校查询学校名字vvtxw-->
    <select id="selectNameBySchoolId" parameterType="int"
            resultType="String">
    select
    s.school_name
    from
    edu_regist r
    LEFT JOIN edu_school s on s.school_id=r.school_id where r.school_id=#{school_id}
  </select>

    <!--查找限制报名门数-->
    <select id="queryCourseNum" parameterType="map" resultType="Integer">
    select
    course_num
    from edu_regist
    where school_id = #{schoolId}
    and course_id=#{courseId}
  </select>


</mapper>