<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.MyActivitiesMapper" >

    <sql id="Base_Column_List">
        id, user_id as userId, admin_id as adminId, school_id as schoolId, type, regist_time as registTime, activities_id as activitiesId
    </sql>

    <select id="selectById"  resultType="com.ovft.configure.sys.bean.MyActivities">
        select
        <include refid="Base_Column_List"/>
        from edu_my_activities
        where id = #{id}
    </select>

    <select id="selectByUserOrActivities"  resultType="com.ovft.configure.sys.bean.MyActivities">
        select
        <include refid="Base_Column_List"/>
        from edu_my_activities
        where 1=1
        <if test="userId != null">
           and user_id = #{userId}
        </if>
        <if test="adminId != null">
            and admin_id = #{adminId}
        </if>
        <if test="activitiesId != null">
            and activities_id = #{activitiesId}
        </if>
        order by regist_time desc
    </select>

    <insert id="createMyActivities" parameterType="com.ovft.configure.sys.bean.MyActivities" useGeneratedKeys="true"
            keyProperty="id">
         insert into edu_my_activities(user_id,admin_id, activities_id, school_id, type, regist_time)
         values (#{userId}, #{adminId}, #{activitiesId}, #{schoolId}, #{type}, #{registTime})
    </insert>

    <delete id="deleteMyActivities">
        delete from edu_my_activities where id = #{id}
    </delete>

</mapper>