<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.PayConfigMapper" >
     <!--查询对应学校微信配置-->
    <select id="selectWxPayConfig" parameterType="java.lang.Integer"  resultType="com.ovft.configure.sys.bean.WxConfigPojo">
         select config_id configId,appid,tradeType,notify_url notifyUrl,mchId,wxkey,school_id schoolId,type  from edu_wxpayconfig where school_id=#{schoolId}
    </select>
     <!--查询对应学校支付宝配置-->
    <select id="selectAliPayConfig" parameterType="java.lang.Integer"  resultType="com.ovft.configure.sys.bean.AliConfigPojo">
         select config_id configId,appid appId,tradeType,mchId,rsa_private_key rsaPrivateKey,school_id schoolId,type,notify_url notifyUrl,return_url returnUrl,alipay_public_key alipayPublicKey  from edu_alipayconfig
    </select>


</mapper>