<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.SchoolMapper">

    <select id="selectById" resultType="com.ovft.configure.sys.bean.School">
         select school_id as schoolId, school_name as schoolName, admin_id as adminId, longitude, latitude
         from edu_school
         where school_id = #{schoolId}
    </select>

    <insert id="createSchool" parameterType="com.ovft.configure.sys.bean.School" useGeneratedKeys="true"
            keyProperty="schoolId">
         insert into edu_school(school_name, admin_id, longitude, latitude)
         values (#{schoolName}, #{adminId}, #{longitude}, #{latitude})
    </insert>


    <update id="updateSchoolName" parameterType="com.ovft.configure.sys.bean.School">
        update edu_school e
          set e.school_name = #{school.schoolName}
          where e.school_id = #{school.schoolId}
    </update>

    <!--查询学校坐标-vvtxw-->
    <select id="queryRecordBySchoolId" resultType="com.ovft.configure.sys.bean.School">
        SELECT
	     longitude,
	     latitude
	    from
	     edu_school
	  WHERE school_id=#{schoolId}
    </select>
    <select id="selectSchoolAll" resultType="com.ovft.configure.sys.bean.School">
       SELECT  school_id as schoolId, school_name as schoolName,school_char as schoolChar
       from  edu_school;
    </select>
      <update id="switchSchoolID" parameterType="int">
              update edu_user
              set  school_id=#{schoolId}
              where  user_id=#{userId}
      </update>

</mapper>