<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.SchoolMapper" >

    <select id="selectById"  resultType="com.ovft.configure.sys.bean.School">
         select school_id as schoolId, school_name as schoolName, admin_id as adminId, longitude, latitude, image
         from edu_school
         where school_id = #{schoolId}
    </select>

    <select id="selectByAdminId"  resultType="com.ovft.configure.sys.bean.School">
         select school_id as schoolId, school_name as schoolName, admin_id as adminId, longitude, latitude, image
         from edu_school
         where admin_id = #{adminId}
    </select>

    <insert id="createSchool" parameterType="com.ovft.configure.sys.bean.School" useGeneratedKeys="true" keyProperty="schoolId">
         insert into edu_school(school_name, admin_id, longitude, latitude, image)
         values (#{schoolName}, #{adminId}, #{longitude}, #{latitude}, , #{image})
    </insert>

    <update id="updateByPrimary" parameterType="com.ovft.configure.sys.bean.School">
        update edu_admin
        <set>
            <if test="schoolName != null">
                school_name = #{schoolName},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
        </set>
        where school_id = #{schoolId}
    </update>




</mapper>