<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.TeacherMapper" >

    <select id="seleceVacateByTeacherId"  resultType="java.util.HashMap">
         select co.course_name as courseName,
            va.vacate_id as vacateId,
            va.vacate_time as vacateTime,
            va.contacts as contacts,
            va.contacts_phone as contactsPhone,
            va.vacate_name as vacateName,
            va.vacate_cause as vacateCause,
            (select dict_name from edu_dict where dict_type='IS_CHACK_STATUS' and dict_value = va.is_check) as isCheck,
            (select dict_name from edu_dict where dict_type='VACATE_TYPE' and dict_value = va.vacate_type) as vacateTypeName
          from edu_vacate as va LEFT JOIN edu_course as co ON va.course_id = co.course_id
          where co.course_teacher = #{adminId}
         order by va.is_check DESC
    </select>

    <!--根据教师id查找课程-->
    <select id="selectByTeacherId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edu_course
        where course_teacher = #{adminId}
    </select>

    <insert id="insertCourse" parameterType="com.ovft.configure.sys.bean.EduCourse">
    insert into edu_course (course_id, course_name, course_price,
      course_teacher, place_class, start_date,
      end_date, people_number, school_id
      )
    values (#{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{coursePrice,jdbcType=DECIMAL},
      #{courseTeacher,jdbcType=VARCHAR}, #{placeClass,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE},
      #{endDate,jdbcType=DATE}, #{peopleNumber,jdbcType=INTEGER}, #{schoolId,jdbcType=VARCHAR}
      )
  </insert>



</mapper>