<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.TeacherMapper" >

    <!--后台获取请假列表-->
    <select id="seleceVacateList"  resultType="java.util.HashMap">
         select co.course_name as courseName,
            va.vacate_id as vacateId,
            va.vacate_time as vacateTime,
            va.contacts as contacts,
            va.contacts_phone as contactsPhone,
            va.vacate_name as vacateName,
            va.vacate_cause as vacateCause,
            (select dict_name from edu_dict where dict_type='VACATE_TYPE' and dict_value = va.vacate_type) as vacateTypeName
            from edu_vacate as va
			LEFT JOIN edu_course as co ON va.course_id = co.course_id
            where 1=1
            <if test="schoolId != null and schoolId != ''">
                AND co.school_id = #{schoolId}
            </if>
			order by va.vacate_time DESC
    </select>

    <sql id="Base_Column_List">
        course_id, course_name, course_price, course_teacher, place_class, start_date, end_date,
        people_number, school_id, isenable
      </sql>
    <resultMap id="BaseResultMap" type="com.ovft.configure.sys.bean.EduCourse">
        <id column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_price" jdbcType="DECIMAL" property="coursePrice"/>
        <result column="course_teacher" jdbcType="VARCHAR" property="courseTeacher"/>
        <result column="place_class" jdbcType="VARCHAR" property="placeClass"/>
        <result column="start_date" jdbcType="DATE" property="startDate"/>
        <result column="end_date" jdbcType="DATE" property="endDate"/>
        <result column="people_number" jdbcType="INTEGER" property="peopleNumber"/>
        <result column="school_id" jdbcType="VARCHAR" property="schoolId"/>
        <result column="isenable" jdbcType="INTEGER" property="isenable"/>
    </resultMap>

    <resultMap id="EduCourseVoResultMap" type="com.ovft.configure.sys.vo.EduCourseVo">
        <id column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_price" jdbcType="DECIMAL" property="coursePrice"/>
        <result column="course_teacher" jdbcType="VARCHAR" property="courseTeacher"/>
        <result column="place_class" jdbcType="VARCHAR" property="placeClass"/>
        <result column="start_date" jdbcType="DATE" property="startDate"/>
        <result column="end_date" jdbcType="DATE" property="endDate"/>
        <result column="people_number" jdbcType="INTEGER" property="peopleNumber"/>
        <result column="school_id" jdbcType="VARCHAR" property="schoolId"/>
        <result column="isenable" jdbcType="INTEGER" property="isenable"/>
    </resultMap>

    <select id="selectCourseListBySchoolId" parameterType="com.ovft.configure.sys.vo.PageVo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edu_course
        where 1=1
        <if test="schoolId != null">
            AND school_id = #{schoolId}
        </if>
        <if test="isenable != null">
            AND isenable = #{isenable}
        </if>
        <if test="startDate != null">
            <![CDATA[ and  start_date >= #{startDate}]]>
        </if>
        <if test="endDate != null">
            <![CDATA[ and  start_date <= #{endDate}]]>
        </if>
        <if test="search != null and search != ''">
            AND course_name like CONCAT('%',#{search},'%')
        </if>
        order by isenable desc, start_date desc
    </select>
    <select id="selectCourseList" parameterType="com.ovft.configure.sys.vo.PageVo" resultType="com.ovft.configure.sys.vo.EduCourseVo">
        select course_id as courseId, course_name as courseName, course_price as coursePrice, course_teacher as courseTeacher,
        place_class as placeClass, start_date as startDate, end_date as endDate,
        people_number as peopleNumber, school_id as schoolId, isenable,
        (SELECT name FROM edu_admin where admin_id = edu_course.course_teacher) as teacherName,
        (SELECT school_name FROM edu_school where school_id = edu_course.school_id) as schoolName
        from edu_course
        where 1=1
        <if test="schoolId != null">
            AND school_id = #{schoolId}
        </if>
        <if test="isenable != null">
            AND isenable = #{isenable}
        </if>
        <if test="startDate != null">
            <![CDATA[ and  start_date >= #{startDate}]]>
        </if>
        <if test="endDate != null">
            <![CDATA[ and  start_date <= #{endDate}]]>
        </if>
        <if test="search != null and search != ''">
            AND course_name like CONCAT('%',#{search},'%')
        </if>
        order by isenable desc, start_date desc
    </select>

    <!--添加课程-->
    <insert id="insertCourse" parameterType="com.ovft.configure.sys.bean.EduCourse"
            useGeneratedKeys="true" keyProperty="courseId">
        insert into edu_course (course_name, course_price,
          course_teacher, place_class, start_date,
          end_date, people_number, school_id, isenable
          )
        values (#{courseName,jdbcType=VARCHAR}, #{coursePrice,jdbcType=DECIMAL},
          #{courseTeacher,jdbcType=VARCHAR}, #{placeClass,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE},
          #{endDate,jdbcType=DATE}, #{peopleNumber,jdbcType=INTEGER}, #{schoolId,jdbcType=VARCHAR}, #{isenable,jdbcType=INTEGER}
          )
    </insert>

    <!--根据课程id查找课程-->
    <select id="selectByCourseId" parameterType="java.lang.Integer" resultMap="EduCourseVoResultMap">
        select
        <include refid="Base_Column_List"/>
        from edu_course
        where course_id = #{courseId}
    </select>

    <!--根据课程id查找课程详细信息-->
    <select id="selectClassByCourseId" parameterType="java.lang.Integer" resultType="com.ovft.configure.sys.bean.EduClass">
        select class_schedule_id as classScheduleId, course_ids as courseIds, week, start_time as startTime, end_time as endTime
        from edu_class_schedule
        where course_ids = #{courseId}
    </select>

    <!--修改课程信息-->
    <update id="updateCourseByCourseId" parameterType="com.ovft.configure.sys.bean.EduCourse">
        update edu_course
        <set>
            <if test="courseName != null">
                course_name = #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="coursePrice != null">
                course_price = #{coursePrice,jdbcType=DECIMAL},
            </if>
            <if test="courseTeacher != null">
                course_teacher = #{courseTeacher,jdbcType=VARCHAR},
            </if>
            <if test="placeClass != null">
                place_class = #{placeClass,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=DATE},
            </if>
            <if test="peopleNumber != null">
                people_number = #{peopleNumber,jdbcType=INTEGER},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=VARCHAR},
            </if>
            <if test="isenable != null">
                isenable = #{isenable,jdbcType=INTEGER},
            </if>
        </set>
        where course_id = #{courseId,jdbcType=INTEGER}
    </update>

    <delete id="deleteClassByCourseId">
        delete from edu_class_schedule where course_ids = #{courseId}
    </delete>

    <delete id="deleteCourseById" parameterType="java.lang.Integer">
        delete from edu_course
        where course_id = #{courseId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteVacate">
        delete from edu_vacate where vacate_id = #{vacateId}
    </delete>


    <!--根据schoolId查询学校用户记录-->
    <select id="selectUserList" resultType="com.ovft.configure.sys.bean.User">
        select u.user_id userId,i.user_name userName,u.phone,u.image,i.user_item_id userItemId,
        i.sex,i.school_id schoolId,i.telephone,i.area,i.address,
        i.political,i.educational,i.position,i.retired,
        i.job,i.employer,i.emergency_contact1 emergencyContact1,i.emergency_relation1 emergencyRelation1,
        i.emergency_phone1 emergencyPhone1,i.emergency_contact2 emergencyContact2,
        i.emergency_relation2 emergencyRelation2,i.emergency_phone2 emergencyPhone2,i.checkin,
        i.identity_card identityCard,i.volunteer,i.user_item_id userItemId
        from  edu_user u
        left join edu_user_item i on u.user_id = i.user_id
        where 1 =1

        <if test="schoolId != null">
            and i.school_id = #{schoolId}
        </if>
        <if test="search != null and search != ''">
            AND u.user_name like CONCAT('%',#{search},'%') or u.phone like CONCAT('%',#{search},'%'))
        </if>
    </select>
    <!--查询用户注销申请记录-->
    <select id="selectWithdrawList" resultType="com.ovft.configure.sys.vo.WithdrawVo">
        select * from edu_withdraw
        where 1 =1
        <if test="schoolId != null">
            and school_id=#{schoolId}
        </if>
        <if test="search != null and search != ''">
            AND user_name like CONCAT('%',#{search},'%')
        </if>

    </select>
    <!--学员审核状态修改-->
    <update id="updateCheckIn" parameterType="int" >
            update edu_user_item set  checkin=#{checkin} where user_id=#{userId}
    </update>
    <!--学员注销审核状态修改-->
    <update id="updateWithdrawCheckIn" parameterType="int" >
            update edu_withdraw set  checkin=#{checkin} where wid=#{wid}
    </update>

    <select id="shelvesCourse" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edu_course
        where isenable != -1 <![CDATA[ and  end_date <= #{endDate,jdbcType=DATE}]]>
    </select>

</mapper>