<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.UserClassMapper" >
       <!--学员班级列表-->
      <select id="userClassList" parameterType="com.ovft.configure.sys.bean.UserClass" resultType="com.ovft.configure.sys.bean.UserClass">
          select c.class_id classId,c.class_name className,c.class_no classNo,c.job job,c.specialty specialty,
          c.course_id courseId, c.remark remark from edu_user_class c
          where 1=1
          <if test="classId != null">
              AND class_id = #{classId}
          </if>
          <if test="className != null and className !=''">
              AND class_name = #{className}
          </if>
          <if test="classNo != null and classNo !=''">
              AND class_no = #{classNo}
          </if>
          <if test="job != null and job !=''">
              AND job = #{job}
          </if>
          <if test="courseId != null">
              AND course_id = #{courseId}
          </if>
          <if test="job != null and job !=''">
              AND specialty = #{specialty}
          </if>
       </select>
         <!--新增班级记录-->
        <insert id="addUserClass" parameterType="com.ovft.configure.sys.bean.UserClass">
            insert into edu_user_class values (default,ClassName,ClassNo,job,specialty,courseId,remark,schoolId,schoolName)
        </insert>
    <!--修改班级记录-->
       <update id="updateUserClass" parameterType="com.ovft.configure.sys.bean.UserClass">
           update  edu_user_class
           <set>

               <if test="className != null and className !=''">
                   AND class_name = #{className}
               </if>
               <if test="classNo != null and classNo !=''">
                   AND class_no = #{classNo}
               </if>
               <if test="job != null and job !=''">
                   AND job = #{job}
               </if>
               <if test="specialty != null and specialty !=''">
                   AND specialty = #{specialty}
               </if>
               <if test="courseId != null">
                   AND course_id = #{courseId}
               </if>
               <if test="remark != null and remark!=''">
                   AND remark = #{remark}
               </if>
               <if test="schoolId != null">
                   AND school_id = #{schoolId}
               </if>
               where 1=1
               <if test="classId != null">
                   AND class_id = #{classId}
               </if>
               <if test="schoolId != null">
                   AND school_id = #{schoolId}
               </if>

           </set>
       </update>
       <!--删除班级记录-->
       <delete id="deleteUserClass" parameterType="int">
               delete from edu_user_class where 1=1
           <if test="classId != null">
               AND class_id = #{classId}
           </if>
       </delete>



</mapper>