<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.UserMapper">
    <insert id="addUser" parameterType="com.ovft.configure.sys.bean.User">
          insert  into edu_user(user_name,phone,password) values(#{user.userName},#{user.phone},#{user.password});
    </insert>
    <select id="findUserByPhone" parameterType="com.ovft.configure.sys.bean.User"
            resultType="com.ovft.configure.sys.bean.User">
            select * from  edu_user where phone=#{user.phone};
         </select>
    <select id="findUserByPhone2" parameterType="com.ovft.configure.sys.bean.User"
            resultType="com.ovft.configure.sys.bean.User">
            select * from  edu_user where phone=#{phone};
         </select>
    <select id="findUserByPassword" parameterType="com.ovft.configure.sys.bean.User"
            resultType="com.ovft.configure.sys.bean.User">
            select * from  edu_user where  password=#{user.password};
         </select>

    <select id="selectById" parameterType="int" resultType="com.ovft.configure.sys.bean.User">
            select user_id as auserId,
            user_name as userName,
            password,phone,
            emergency_contact1 as emergencyContact1,
            emergency_phone1 as emergencyPhone1
            from  edu_user
            where  user_id=#{userId};
         </select>
    <select id="selectByIdAll" parameterType="int" resultType="com.ovft.configure.sys.bean.User">
            select *
            from  edu_user
            where  user_id=#{userId};
         </select>

    <update id="updateByPhone">
          update edu_user set password = #{password} where phone=#{phone}
    </update>
    <update id="savaInfo" parameterType="com.ovft.configure.sys.bean.User">
          update edu_user set user_name=#{user.userName},sex=#{user.sex},school_id=#{user.schoolId},area=#{user.area},volunteer=#{user.volunteer},
          identity_card=#{user.identity_card},address=#{user.address},political=#{user.political},educational=#{user.educational},retired=#{user.retired},
           employer=#{user.employer},position=#{user.position},job=#{user.job},emergency_contact1=#{user.emergencyContact1},
           emergency_relation1=#{user.emergencyRelation1},emergency_phone1=#{user.emergencyPhone1},
           emergency_contact2=#{user.emergencyContact2},emergency_relation2=#{user.emergencyRelation2},
           emergency_phone2=#{user.emergencyPhone2} where phone=#{user.phone}
    </update>
    <update id="updatePhone" parameterType="java.lang.String">
              update  edu_user set phone=#{newPhone} where  phone=#{phone}
    </update>
    <!--通过原密码查询-->
    <select id="selectByOldPass" parameterType="java.lang.String" resultType="com.ovft.configure.sys.bean.User">
             select * from  edu_user where password=#{oldPass}
    </select>
    <!--通过原密码修改-->
    <update id="updateByOldPass">
          update edu_user set password = #{newPass} where phone=#{oldPass}
    </update>

    <!--查询用户所对应的学员分类-vvtxw-->
    <select id="queryemployerByUserId" parameterType="java.lang.Integer" resultType="String">
        select
            employer
            from edu_user_item
            WHERE user_id=#{userId}
    </select>

    <!--查询对应edu_user_item表里面是否存在该用户记录-->
    <select id="queryByItemsIdAndSchoolId" parameterType="int" resultType="com.ovft.configure.sys.bean.User">
        select u.user_id userId,i.user_name userName,u.phone,u.image,
        i.sex,i.school_id schoolId,i.telephone,i.area,i.address,
        i.political,i.educational,i.position,i.retired,
        i.job,i.employer,i.emergency_contact1 emergencyContact1,i.emergency_relation1 emergencyRelation1,
        i.emergency_phone1 emergencyPhone1,i.emergency_contact2 emergencyContact2,
        i.emergency_relation2 emergencyRelation2,i.emergency_phone2 emergencyPhone2,i.checkin,
        i.identity_card identityCard,i.volunteer,i.user_item_id userItemId
        from edu_user u
        left join edu_user_item i on u.user_id = i.user_id and i.school_id = #{schoolId}
        where u.user_id = #{userId}
    </select>

    <!--修改edu_user_item表里面该用户记录-->
    <update id="updateInfoItems" parameterType="com.ovft.configure.sys.bean.User">
          update edu_user_item set user_name=#{userName},sex=#{sex},telephone=#{telephone},area=#{area},
           address=#{address},political=#{political},educational=#{educational},position=#{position},retired=#{retired},
           employer=#{employer},job=#{job},emergency_contact1=#{emergencyContact1},
           emergency_relation1=#{emergencyRelation1},emergency_phone1=#{emergencyPhone1},
           emergency_contact2=#{emergencyContact2},emergency_relation2=#{emergencyRelation2},
           emergency_phone2=#{emergencyPhone2},volunteer=#{volunteer},identity_card=#{identityCard}
           where user_id=#{userId} and school_id=#{schoolId}
    </update>

    <!--增加edu_user_item表里面该用户记录-->
    <insert id="saveInfoItems" parameterType="com.ovft.configure.sys.bean.User" useGeneratedKeys="true"
            keyProperty="userItemId">
        insert into edu_user_item (user_id,user_name,
        sex,school_id,telephone,area,address,
        political,educational,position,retired,
        job,employer,emergency_contact1,emergency_relation1,
        emergency_phone1,emergency_contact2,
        emergency_relation2,emergency_phone2,checkin,identity_card,volunteer)
        values (#{userId},#{userName},#{sex},#{schoolId},#{telephone},#{area},#{address},#{political},#{educational},#{position},
          #{retired},#{job},#{employer},#{emergencyContact1},#{emergencyRelation1},#{emergencyPhone1},
          #{emergencyContact2},#{emergencyRelation2},#{emergencyPhone2},
          #{checkin},#{identityCard},#{volunteer}
          )
    </insert>

    <!--查询用户头像地址-vvtxw-->
    <select id="queryAllAddress" parameterType="int" resultType="String">
        select
        image
        from edu_user
        WHERE user_id=#{userId}
    </select>

    <!--用户头像地址-vvtxw-->
    <update id="updateAddress" parameterType="com.ovft.configure.sys.bean.User">
        UPDATE edu_user SET  image=#{user.image} where user_Id=#{user.userId}
    </update>
    <!--添加个性签名-->
    <update id="createMycontext" parameterType="com.ovft.configure.sys.bean.User">
             update edu_user SET  mycontext=#{user.mycontext} where user_Id=#{user.userId}
    </update>
</mapper>