<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.UserMapper" >
    <insert id="addUser" parameterType="com.ovft.configure.sys.bean.User" >
          insert  into edu_user(user_name,phone,password) values(#{user.userName},#{user.phone},#{user.password});
    </insert>
         <select id="findUserByPhone" parameterType="com.ovft.configure.sys.bean.User" resultType="com.ovft.configure.sys.bean.User">
            select * from  edu_user where phone=#{user.phone};
         </select>
         <select id="findUserByPhone2" parameterType="com.ovft.configure.sys.bean.User" resultType="com.ovft.configure.sys.bean.User">
            select * from  edu_user where phone=#{phone};
         </select>
         <select id="findUserByPassword" parameterType="com.ovft.configure.sys.bean.User" resultType="com.ovft.configure.sys.bean.User">
            select * from  edu_user where  password=#{user.password};
         </select>

        <select id="selectById"  resultType="com.ovft.configure.sys.bean.User">
            select user_id as auserId,
            user_name as userName,
            emergency_contact1 as emergencyContact1,
            emergency_phone1 as emergencyPhone1
            from  edu_user
            where  user_id=#{userId};
         </select>

    <update id="updateByPassword">
          update edu_user set password = #{password} where phone=#{phone}
    </update>
    <update id="savaInfo" parameterType="com.ovft.configure.sys.bean.User">
          update edu_user set user_name=#{user.userName},sex=#{user.sex},identity_card=#{user.identity_card},
           address=#{user.address},political=#{user.political},educational=#{user.educational},retired=#{user.retired},
           employer=#{user.employer},position=#{user.position},job=#{user.job},emergency_contact1=#{user.emergencyContact1},
           emergency_relation1=#{user.emergencyRelation1},emergency_phone1=#{user.emergencyPhone1},
           emergency_contact2=#{user.emergencyContact2},emergency_relation2=#{user.emergencyRelation2},
           emergency_phone2=#{user.emergencyPhone2} where phone=#{user.phone}
    </update>
    <update id="updatePhone" parameterType="java.lang.String">
              update  edu_user set phone=#{newPhone} where  phone=#{phone}
    </update>
    <update id="selectByOldPass" parameterType="java.lang.String">
             select * from  edu_user where phone=#{oldPass};
    </update>
    <update id="updateByOldPass">
          update edu_user set password = #{newPass} where phone=#{oldPass}
    </update>

</mapper>